<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="ion-color-tab">
        Bem Vindo
      </ion-card-title>
      <ion-card-subtitle class="ion-text-lowercase" color="dark">
        Aplicativo de pagamentos NFC do Bilhete Único
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div>
        <div class="singin-btns">
          <ion-button size="small" fill="solid" class="loginbtn" shape="round" (click)="goToLoginpage()">
            entrar
          </ion-button>
          <ion-button size="small" fill="outline" color="dark" shape="round" (click)="registerUser()">
            Inscreva-se
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
