<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="texto-centralizado">Entre com sua conta do PayPal</p>
  <ion-button id="open-modal" expand="block">Login</ion-button>

  <p class="texto-centralizado">Pagar Passagem</p>
  <ion-button ion-button expand="block" (click)="comprar()">Pagar</ion-button>

  <ion-modal #modal trigger="open-modal" [swipeToClose]="true" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>PayPal</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>Faça o login com sua conta do PayPal</p>
        <ion-button class="botaoModal" (click)="modal.dismiss()">Cancelar</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>