ion-content{
    --ion-background-color: #31364b;
}

.wrappContent{
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}